{
  "Entries": [
    {
      "RequestUri": "https://zedy-table.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Wed, 08 Feb 2023 02:34:34 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "gocosmosZ"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-02-08T02%3A34%3A36.6304263Z\u0027\u0022",
        "Location": "https://zedy-table.table.cosmos.azure.com/Tables(\u0027gocosmosZ\u0027)"
      },
      "ResponseBody": {
        "TableName": "gocosmosZ",
        "odata.metadata": "https://zedy-table.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://zedy-table.table.cosmos.azure.com/gocosmosZ",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Dataserviceversion": "3.0",
        "Prefer": "return-no-content",
        "X-Ms-Date": "Wed, 08 Feb 2023 02:34:36 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": {
        "Name": "Ocean Surfboard",
        "PartitionKey": "gear-surf-surfboards",
        "Quantity": 8,
        "RowKey": "68719518388",
        "Sale": true
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272023-02-08T02%3A34%3A37.2888583Z\u0027\u0022",
        "Location": "https://zedy-table.table.cosmos.azure.com/gocosmosZ(PartitionKey=\u0027gear-surf-surfboards\u0027,RowKey=\u002768719518388\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://zedy-table.table.cosmos.azure.com/gocosmosZ(PartitionKey=\u0027gear-surf-surfboards\u0027,RowKey=\u002768719518388\u0027)?%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Wed, 08 Feb 2023 02:34:37 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-02-08T02%3A34%3A37.2888583Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://zedy-table.table.cosmos.azure.com/gocosmosZ/$metadata#gocosmosZ/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-02-08T02%3A34%3A37.2888583Z\u0027\u0022",
        "Name": "Ocean Surfboard",
        "PartitionKey": "gear-surf-surfboards",
        "Quantity": 8,
        "RowKey": "68719518388",
        "Sale": true,
        "Timestamp": "2023-02-08T02:34:37.2888583Z"
      }
    },
[...]
    {
      "RequestUri": "https://zedy-table.table.cosmos.azure.com/gocosmosZ()?%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Wed, 08 Feb 2023 02:34:37 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272023-02-08T02%3A34%3A37.2888583Z\u0027\u0022",
            "Name": "Ocean Surfboard",
            "PartitionKey": "gear-surf-surfboards",
            "Quantity": 8,
            "RowKey": "68719518388",
            "Sale": true,
            "Timestamp": "2023-02-08T02:34:37.2888583Z"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272023-02-08T02%3A34%3A37.8000391Z\u0027\u0022",
            "Name": "Sand Surfboard",
            "PartitionKey": "gear-surf-surfboards",
            "Quantity": 5,
            "RowKey": "68719518390",
            "Sale": false,
            "Timestamp": "2023-02-08T02:34:37.8000391Z"
          }
        ],
        "odata.metadata": "https://zedy-table.table.cosmos.azure.com/$metadata#gocosmosZ"
      }
    },
    {
      "RequestUri": "https://zedy-table.table.cosmos.azure.com/Tables(\u0027gocosmosZ\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 08 Feb 2023 02:34:38 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
